<%= render "header" %>
<a name="inicio"></a>
<%= render "navbar" %>
<div class="main">
    <div class="dropsreverted"></div>
    <div class="row">
        <div id="main" class="offset-sm-2">
            <h2>Galería</h2>
            <h3><%=@errormsg%></h3>
            <div class="row gallery">
                <% @photos.each do |photo|%>
                    <div id="main" class="col-4">
                        <div id="gallerybutton" class="card">
                            <a data-toggle="modal" data-target="#Modal<%=photo[:id]%>"><img class="card-img-top" src="https://graph.facebook.com/<%=photo[:id]%>/picture?width=160&height=160" alt="Card image cap"></a>
                        </div>
                    </div> 
                    <div class="modal fade" id="Modal<%=photo[:id]%>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-body">
                            <img class="card-img-top" src="https://graph.facebook.com/<%=photo[:id]%>/picture?width=160&height=160" alt="Card image cap">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                <% end %>
            </div>
        </div>
    <%= render "footer" %>
    </div>
</div>